.articles {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.articles__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.articles__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}