
<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<hr class="line-a">
<hr class="line-b">
<div class="articles">
    
    <div class="articles__left">
        <app-small-card photoCover="../assets/img_4.jpg"
        cardTitle="Lorem ipsum dolor sit amet consectetur adipiscing elit."
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris et eros tincidunt felis laoreet volutpat. 
        Aenean nunc felis, consectetur vitae odio vel, auctor dapibus odio."></app-small-card>
        <app-small-card photoCover="../assets/img_2.jpg"
        cardTitle="Lorem ipsum dolor sit amet consectetur adipiscing elit."
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris et eros tincidunt felis laoreet volutpat. 
        Aenean nunc felis, consectetur vitae odio vel, auctor dapibus odio."></app-small-card>

    </div>
<div class="articles__main">
   
    <app-big-card
     photoCover="../assets/img_1.jpg" 
     cardTitle="Lorem ipsum dolor sit amet"
     cardDesription=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et eros tincidunt felis laoreet volutpat.
     Aenean nunc felis, consectetur vitae odio vel, auctor dapibus odio. Vestibulum vestibulum lacus sapien,
      sit amet egestas quam fringilla quis. Vivamus rutrum elit ut massa rhoncus tincidunt. Donec in urna in
       diam lobortis ultrices quis ac odio. Nulla ut rutrum ipsum. Aliquam semper vitae sem eu porta. 
       Ut tincidunt erat eu quam suscipit semper. "></app-big-card>
       <app-big-card
       photoCover="../assets/img_3.jpg" 
       cardTitle="Auctor dapibus odio"
       cardDesription="
       Vivamus rutrum elit ut massa rhoncus tincidunt. Donec in urna in
       diam lobortis ultrices quis ac odio. Nulla ut rutrum ipsum. Aliquam semper vitae sem eu porta. 
       Ut tincidunt erat eu quam suscipit semper."></app-big-card>

</div>

<div class="articles__right">
    <app-small-card photoCover="../assets/img_5.png"
    cardTitle="Lorem ipsum dolor sit amet consectetur adipiscing elit."
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris et eros tincidunt felis laoreet volutpat. 
    Aenean nunc felis, consectetur vitae odio vel, auctor dapibus odio."></app-small-card>
    <app-small-card photoCover="../assets/img_6.jpg"
    cardTitle="Lorem ipsum dolor sit amet consectetur adipiscing elit."
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris et eros tincidunt felis laoreet volutpat. 
    Aenean nunc felis, consectetur vitae odio vel, auctor dapibus odio."></app-small-card>

</div>
<hr>


</div>


