.articles {
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
    align-items: flex-start;
    margin: 40px;
}
.articles__main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.line-a {
    margin: 15px 0;   
   border: .1rem solid #424141;
}

.line-b {
margin: 5px 0;   
border: .063rem solid #929191;
} 

.articles__right, .articles__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

