.menu__bar {
display: flex;
flex-direction: row;
width: 100%;
height: auto;
padding: 10px;
justify-content: center;


}
.menu__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 400px;
    
    

}
.menu__list > ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}
.menu__list > ul > li {
    padding: 10px;

}

.menu__list > ul > li > a {
    color: #454546;
}